@import 'variables';
@import 'functions';

*{ @include reset; }

body,html{ @include init; }

body{
    @include gradient(radial,(center, #9fa8da, #5c6bc0));
}

img{
    max-width: 100%;
    height: auto;
}

.slider{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include perspective(2000px);
    @include perspective-origin(50% 50%);
    
    .slide{
        width: 800px;
        max-width: 100%;
        max-height: 550px;
        cursor: pointer;
        @include box-sizing(border-box);
        @include transition((transform .35s ease-in));
        @include center-absolute(absolute);
        @include transform(translate3d(0,0,-1300px) rotatey(45deg));
        
        img{
            border: solid 8px white;
            @include box-shadow(0 0 15px rgba(0,0,0,.3));
            @include border-radius(5px);
        }
        
        $stepY: 40px;
        $stepX: 40px;
        $decrement: 10;
        
        @for $i from 1 through 10 {
            &:nth-child(#{$i}){ 
                z-index: $decrement;
                @include transform(translate3d((400 + ($stepX * $i)), -(-200 + ($stepY * $i)), -2000px) rotatey(-35deg) scale(.5));
                
                &:hover{
                    @include transform(translate3d((400 + ($stepX * $i)), -(-200 + ($stepY * $i) + 20), -2000px) rotatey(-35deg) scale(.5));
                }
                
                $decrement : $decrement - 1;
            }
        }
        
        &.active{
            cursor: default;
            z-index: 20;
            @include transform(translate3d(-500px,0,-1300px) rotatey(0deg) scale(1));
            
            &:hover{
                @include transform(translate3d(-500px,0,-1300px) rotatey(0deg) scale(1));
            }
        }
        
        &:hover{
            z-index: 20;
            
            
        }
    }
    
    .controls{
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        
        button{
            background: transparent;
            padding: .7rem .91rem;
            border: solid 2px #aaa;
            color: white;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            background: #aaa;
            @include transition(all .5s ease-in);
            @include border-radius(50%);
            @include text-shadow(0 0 1px #111);
            @include box-shadow(0 0 4px #111);
            
            &.active,
            &:hover{
                background: transparent;
                @include transform(scale(.9));
            }
            
            &:focus{
                outline: none;
            }
        }
    }
}

.back_button{
    position: absolute;
    top: 10px;
    left: 5px;
    background: white;
    width: 30px;
    height: 30px;
    opacity: .5;
    @include border-radius(50%);
    @include transition(all .5s ease);
    @include box-shadow(0 0 2px rgba(255,255,255, .5));

    &:hover{
        opacity: 1;
        @include box-shadow(0 0 8px rgba(255,255,255, .5));

        .message{
            width: 33px;
            color: #111;
            padding: .25rem .5rem;
        }
    }

    img{
        max-width: 100%;
    }

    .message{
        position: absolute;
        top: 1px;
        left: 105%;
        background: white;
        font-weight: bold;
        font-size: 14px;
        font-family: comic sans;
        width: 0;
        color: transparent;
        @include transition((width .12s ease, color .2s .12s ease));
        @include border-radius(3px);
        @include box-shadow(0 0 2px rgba(255,255,255, .5));
    }
}

@import 'queries';
@import 'keyframes';