* {
  border: 0;
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 100%;
  font-family: 'Roboto';
  background-color: #DAEEF5;
  background-image: url(../images/header.png);
  background-position: top center;
  background-size: 105% auto;
  background-repeat: no-repeat; }

img {
  max-width: 100%;
  height: auto; }

.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 2000px;
  -khtml-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
  -webkit-perspective-origin: 50% 50%;
  -khtml-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .slider .slide {
    width: 800px;
    max-width: 100%;
    max-height: 550px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: transform 0.35s ease-in;
    -khtml-transition: transform 0.35s ease-in;
    -moz-transition: transform 0.35s ease-in;
    -ms-transition: transform 0.35s ease-in;
    -o-transition: transform 0.35s ease-in;
    transition: transform 0.35s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: translate3d(0, 0, -1300px) rotatey(45deg);
    -khtml-transform: translate3d(0, 0, -1300px) rotatey(45deg);
    -moz-transform: translate3d(0, 0, -1300px) rotatey(45deg);
    -ms-transform: translate3d(0, 0, -1300px) rotatey(45deg);
    -o-transform: translate3d(0, 0, -1300px) rotatey(45deg);
    transform: translate3d(0, 0, -1300px) rotatey(45deg); }
    .slider .slide img {
      border: solid 5px white;
      -webkit-box-shadow: 0 0 15px #111;
      -khtml-box-shadow: 0 0 15px #111;
      -moz-box-shadow: 0 0 15px #111;
      -ms-box-shadow: 0 0 15px #111;
      -o-box-shadow: 0 0 15px #111;
      box-shadow: 0 0 15px #111;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
    .slider .slide:nth-child(1) {
      z-index: 10;
      -webkit-transform: translate3d(445px, 210px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(445px, 210px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(445px, 210px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(445px, 210px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(445px, 210px, -2000px) rotatey(-45deg);
      transform: translate3d(445px, 210px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(2) {
      z-index: 9;
      -webkit-transform: translate3d(490px, 160px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(490px, 160px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(490px, 160px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(490px, 160px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(490px, 160px, -2000px) rotatey(-45deg);
      transform: translate3d(490px, 160px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(3) {
      z-index: 8;
      -webkit-transform: translate3d(535px, 110px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(535px, 110px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(535px, 110px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(535px, 110px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(535px, 110px, -2000px) rotatey(-45deg);
      transform: translate3d(535px, 110px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(4) {
      z-index: 7;
      -webkit-transform: translate3d(580px, 60px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(580px, 60px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(580px, 60px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(580px, 60px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(580px, 60px, -2000px) rotatey(-45deg);
      transform: translate3d(580px, 60px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(5) {
      z-index: 6;
      -webkit-transform: translate3d(625px, 10px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(625px, 10px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(625px, 10px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(625px, 10px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(625px, 10px, -2000px) rotatey(-45deg);
      transform: translate3d(625px, 10px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(6) {
      z-index: 5;
      -webkit-transform: translate3d(670px, -40px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(670px, -40px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(670px, -40px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(670px, -40px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(670px, -40px, -2000px) rotatey(-45deg);
      transform: translate3d(670px, -40px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(7) {
      z-index: 4;
      -webkit-transform: translate3d(715px, -90px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(715px, -90px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(715px, -90px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(715px, -90px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(715px, -90px, -2000px) rotatey(-45deg);
      transform: translate3d(715px, -90px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(8) {
      z-index: 3;
      -webkit-transform: translate3d(760px, -140px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(760px, -140px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(760px, -140px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(760px, -140px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(760px, -140px, -2000px) rotatey(-45deg);
      transform: translate3d(760px, -140px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(9) {
      z-index: 2;
      -webkit-transform: translate3d(805px, -190px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(805px, -190px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(805px, -190px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(805px, -190px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(805px, -190px, -2000px) rotatey(-45deg);
      transform: translate3d(805px, -190px, -2000px) rotatey(-45deg); }
    .slider .slide:nth-child(10) {
      z-index: 1;
      -webkit-transform: translate3d(850px, -240px, -2000px) rotatey(-45deg);
      -khtml-transform: translate3d(850px, -240px, -2000px) rotatey(-45deg);
      -moz-transform: translate3d(850px, -240px, -2000px) rotatey(-45deg);
      -ms-transform: translate3d(850px, -240px, -2000px) rotatey(-45deg);
      -o-transform: translate3d(850px, -240px, -2000px) rotatey(-45deg);
      transform: translate3d(850px, -240px, -2000px) rotatey(-45deg); }
    .slider .slide.active {
      z-index: 20;
      -webkit-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
      -khtml-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
      -moz-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
      -ms-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
      -o-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
      transform: translate3d(-500px, 0, -1300px) rotatey(0deg); }
      .slider .slide.active:hover {
        -webkit-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
        -khtml-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
        -moz-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
        -ms-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
        -o-transform: translate3d(-500px, 0, -1300px) rotatey(0deg);
        transform: translate3d(-500px, 0, -1300px) rotatey(0deg); }
    .slider .slide:hover {
      z-index: 20; }

.back_button {
  position: absolute;
  top: 10px;
  left: 5px;
  background: white;
  width: 30px;
  height: 30px;
  opacity: .5;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -khtml-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -khtml-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -ms-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); }
  .back_button:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    -khtml-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); }
    .back_button:hover .message {
      width: 33px;
      color: #111;
      padding: .25rem .5rem; }
  .back_button img {
    max-width: 100%; }
  .back_button .message {
    position: absolute;
    top: 1px;
    left: 105%;
    background: white;
    font-weight: bold;
    font-size: 14px;
    font-family: comic sans;
    width: 0;
    color: transparent;
    -webkit-transition: width 0.12s ease, color 0.2s 0.12s ease;
    -khtml-transition: width 0.12s ease, color 0.2s 0.12s ease;
    -moz-transition: width 0.12s ease, color 0.2s 0.12s ease;
    -ms-transition: width 0.12s ease, color 0.2s 0.12s ease;
    -o-transition: width 0.12s ease, color 0.2s 0.12s ease;
    transition: width 0.12s ease, color 0.2s 0.12s ease;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    -khtml-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    -ms-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    -o-box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
